.navigation {
	position: absolute;
	top: 20px;
  left: 620px;
  padding: 7px;
}
.navigation > a{
	text-decoration: none;
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.point{
	position: absolute;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  top: 10px;
  margin-left: 37px;
  color: white;
}
.img1{
	width: 1276px;
  height: 625px;
}
.heading{
	position: relative;
  line-height: 25px;
  font-family: sans-serif;
}
.head{
	position: absolute;
	top: 185px;
  left: 430px;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  line-height: initial;
}
.ptext{
	position: absolute;
	top: 335px;
  left: 420px;
  color: white;
  font-family: sans-serif;
}
.get{
	position: absolute;
	top: 415px;
  left: 590px;
	background-color: rgb(237, 14, 69);
	border: none;
  height: 40px;
  width: 120px;
  border-radius: 100px;
  color: white;
  font-size: 15px;
}
button:hover {
  background-color: white;
  color: rgb(237, 14, 69);
}
.img2{
	height: 625px;
  width: 1050px;
}
.img_container{
  margin: 100px;
  position: relative;
  margin-bottom: 130px;
}
.img_container2{
	background-color: rgb(237, 14, 69);
	position: absolute;
  width: 370px;
  height: 350px;
  top: 240px;
  left: 495px;
  padding: 60px;
  color: white;
}
.read{
	margin-top: 60px;
  border: none;
  background-color: rgb(62, 15, 127);
  height: 40px;
  width: 100px;
  border-radius: 100px;
  color: white;
}
.page3{
	margin: 100px;
}
.page3p > p{
  margin-left: 20px;
}
.gnames{
  margin-left: 20px;
}
.page3 > h1{
	margin-right: 720px;
	color:  rgb(237, 14, 69)
}
.page3 > p{
	margin-right: 763px;
}
.grid_container{
	display: grid;
	grid-template-rows: repeat(2, 330px);
	grid-template-columns: repeat(4, 250px);
	grid-gap: 20px 20px;
}
.grid_container >div{
	background-color: #f7f4f4;
}
.page4{
	position: relative;
	margin: 100px;
}
.content{
	bottom: 25px;
  position: absolute;
  left: 620px;
  margin-right: 85px;
}
.prevent{
	width: 500px;
  height: 300px;
}
.content > .subhead{
	font-size: 21px;
}
.img_container2 > h1{
  color: white;
}
.learn{
	margin-top: 10px;
  border: none;
  background-color: rgb(237, 14, 69) ;
  height: 40px;
  width: 100px;
  border-radius: 100px;
  color: white;
}
.page44{
	margin: 100px 100px 150px 100px;
}
.next{
  position: absolute;
  top: 270px;
  right: 750px;
  background-color: rgb(237, 14, 69);
  border: none;
  height: 60px;
  width: 135px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
h1{
	color: rgb(237, 14, 69);
  line-height: 30px;
}
.grid_cont2{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}
.page5{
	background-color: #f9f9f9;
  padding-bottom: 40px;
  border-bottom: 2px solid #dad5d5;
}
.page5 > h1{
	text-align: center;
	color:  rgb(237, 14, 69);
  padding-top: 100px;
}
.icon-text > img{
  width: 40px;
}
.grid_cont3{
	display: grid;
	grid-template-columns: repeat(3,250px);
	grid-gap: 20px;
  margin: 100px;
  justify-content: space-evenly;
  font-family: sans-serif;
}
.page6{
  margin: 100px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 130px;
}
.prev{
  position: absolute;
  top: 278px;
  right: 175px;
  background-color: rgb(237, 14, 69);
  border: none;
  height: 60px;
  width: 135px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
.page6text{
  padding: 100px 240px 80px 240px;
  font-size: 20px;
}
.link1{
  color: rgb(237, 14, 69);
}
.smallimg{
  border-radius: 100px;
  position: relative;
}
.testpage6{
  margin: 100px;
  position: relative;
  font-family: sans-serif;
}
.page6-img{
  float: right;
  width: 480px;
  height: 300px;
  position: absolute;
  top: 10px;
  left: 600px;
}
.flex-container{
  display: flex;
  flex-direction: row;
}
.item{
  width: 250px;
}
.item > img {
  width: 40px;
}
.items > h2,h5{
  color:  rgb(237, 14, 69);
}
.flex-container2{
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}
.page7{
	margin: 100px;
	margin-top: 230px;
}
.page7 > h1,h5{
	text-align: center;
  line-height: 30px;
}
.items > img{
  width: 310px;
  height: 260px;
}
.page8{
	background-color: #f7f7f7;
}
.pag8serv{
	margin: 100px;
	padding: 25px;
}
.number{
  color: rgb(237, 14, 69);
}
.pag8serv > h1{
	text-align: center;
  margin-top: -15px;
  margin-bottom: 60px;
}
.contact{
	background-color: white;
	padding-left: 70px;
	padding-top: 50px;
}
.flex-cont3{
	display: flex;
	flex-direction: row;
}
 input{
	width: 220px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid;
}
.lname{
	margin-left: 200px;
}
.contact > div{
	padding: 15px;

}
.inlast{
	margin-left: 50px;
}
.mymail{
	width: 495px;
}
.subject1{
	width: 495px;
}
.msg{
  width: 495px;
  height: 160px;
  border: 1px solid;
  border-radius: 30px;
}
.sent{
	background-color: rgb(237, 14, 69);
	border: none;
  height: 40px;
  width: 130px;
  border-radius: 100px;
  color: white;
}
.address{
	background-color: white;
	margin-left: 58px;
  height: 265px;
  padding: 25px;
}
footer{
	background-color: #585858;
	padding: 50px;
	color: white;
}
.line{
	border-color: #7b7b7d;
	border: 1px solid;
}
.flex-cont4{
	display: flex;
	flex-direction: row;
	margin: 100px;
}
#sendbox{
	float: left;
	border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}
.send{
	float: left;
	width: 49px;
  border: none;
  background-color: rgb(237, 14, 69);
  height: 34px;
  padding: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
}
.foot1{
	width: 320px;
}
.foot2{
	margin-left: 190px;
}
.foot2 > a{
	text-decoration: none;
	color: #a09c9c;
}
.foot3{
	margin-left: 57px;
}
.copyright{
	text-align: center;
	padding: 100px;
}